:root {
    --dark: #222737;
    --light: #8bdeff;
}

header {
    background-color: var(--dark);
    color: var(--light);
}

body {
    background-image: linear-gradient(
        rgb(44, 44, 44, 0.3) 0%
        rgb(44, 44, 44, 0.6) 100%
    );
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

img {
    width: 400px;
    height: 300px;
}

.text-right {
    text-align: right;
    padding: 20px 20px;
    display: inline;
}

#linkedIn {
    width: 30px;
    height: 30px;
}
